{{ partial "header.html" . }}

<!--Paper Info-->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>{{ .Title }}</h1>
  </div>
</div>
{{ if .Params.publisher }}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>{{ .Params.publisher }}</h2>
  </div>
</div>
{{ end }}

<!--Authors-->
{{ range where .Site.Pages "Section" "people" }}
{{ $.Scratch.Set .Title .Permalink }}
{{ end }}
{{ range .Params.authors }}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    {{ if $.Scratch.Get . }}
    <a href="{{ $.Scratch.Get . }}">{{ . }}</a>
    {{ else }}
    {{ . }}
    {{ end }}
  </div>
</div>
{{ end }}

<!--Abstract-->
{{ if .Content }}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Abstract</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    {{ .Content }}
  </div>
</div>
{{ end }}

<!--Links-->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    {{ if .Params.bibtex }}
    <a href="{{ .Params.bibtex | absURL }}">[Bibtex]</a>
    {{ end }}
    {{ if .Params.pdf }}
    <a href="{{ .Params.pdf | absURL }}">[PDF]</a>
    {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}
